@import "variables";
.cartMain{
  margin-top: 140px;
  background: rgba(253, 176, 45, 0.16);
  .container{
    padding: 150px 0;
  }
  &__items{
      display: flex;
      flex-direction: column;
      gap: 80px;
  }
  &__bill{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-total{
      font-size: 40px;
      font-weight: 600;
    }
    &-discount{
      font-size: 40px;
      font-weight: 600;
      margin-top: 32px;
    }
  }
  &__button{
    display: flex;
    justify-content: center;
    button{
      width: 220px;
      margin-top: 80px;
    }
  }
}