@import "variables";
.offers{
  .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  padding: 145px 0;
  &__card{
    padding: 115px 0 115px 50px;
    width: 650px;
    border-radius: 20px;
    &-1{
      background: url("../img/offers/card1.png") no-repeat;
    }
    &-2{
      background: url("../img/offers/card2.png") no-repeat;
    }
    &__suptitle{
      font-size: 36px;
      color: white;
    }
    &__title{
      font-size: 40px;
      width: 270px;
      &-1{
        font-size: 40px;
        width: 270px;
        color: white;
      }
    }
  }

}
